<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
  <tbody>
    <tr>
        <td>Памер</td>
        <td>{{product.size}}</td>
    </tr>
    <tr>
        <td>Склад</td>
        <td>{{product.compound}}</td>
    </tr>
    <tr>
        <td>Даўжыня</td>
        <td>{{product.length}}</td>
    </tr>
    <tr>
        <td>Краіна вытворчасці</td>
        <td>{{product.origin_country}}</td>
    </tr>
  </tbody>
</table>
</body>
</html>
